body {
  background-color: #303030;
  color: #f8f9fa;
  font-family: 'Inter', sans-serif;
}

nav {
  min-height: 100px;
  margin-top: 1rem;
}

footer {
  min-height: 40px;
  margin-bottom: 1rem;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
}

.logo {
  margin-bottom: .5rem;
}

.logo-icon, .social-icon {
  filter: invert(91%) sepia(4%) saturate(44%) hue-rotate(173deg) brightness(107%) contrast(98%);
}

.social-icon:hover {
  filter: invert(97%) sepia(1%) saturate(4896%) hue-rotate(178deg) brightness(89%) contrast(91%);
}

.logo-icon {
  height: 75px;
  width: 75px;
}

.social-icon {
  height: 25px;
  width: 25px;
}

.nav-item {
  font-weight: 600;
}

.main-content {
  padding: 1rem;
  min-height: 67vh;
}
