.typewriter span {
  display: inline-block;
  position: relative;
}

.typewriter .head {
  margin-left: 4px;
}

.typewriter .space {
  margin-right: 4px;
}

.typewriter .current::after {
  animation: blink-caret 0.9s step-end infinite;
  border-left: 10px solid #000;
  content: "";
  display: inline-block;
  height: 1.25rem;
  position: absolute;
  right: -10px;
  top: 50%;
  transform: translateY(-50%);
}

@keyframes blink-caret {
  0% { border-color: #f8f9fa }
  50% { border-color: transparent }
  100% { border-color: #f8f9fa }
}
